body {
    background: rgb(185, 115, 218) url('../images/bg.png') repeat-y right top;
}

#root {
    background-color: yellowgreen;
    transform: rotate(45deg);
    height: 50px;
}

.a {
    color: #ccc;
}

.b {
    width: 100px;
}

.fl {
    float: left;
}

.width {
    width: 100px;
}
